<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <button
                (click)="fncVerAlumnos()"
                mat-raised-button
            >Alumnos</button>
        </div>
        <div class="col-md-6 col-sm-12">
            <button
                (click)="fncVerProfesores()"
                mat-raised-button
            >Profesores</button>
        </div>
    </div>
</div>
<!-- TBD un mejor header de navegación-->
<router-outlet>

</router-outlet>
