
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <button
                mat-raised-button
            >Alumnos</button>
        </div>
        <div class="col-md-6 col-sm-12">
            <button
                mat-raised-button
            >Profesores</button>
        </div>
    </div>
</div>


<router-outlet />
